

/* Main terminal container */
.terminal-container {
    flex-grow: 1;
    overflow: hidden; /* Prevent xterm.js overflow */
    background-color: var(--bg-color);
    padding: 4px;
}

/* Internal adjustments for xterm.js */
.xterm {
    padding: 8px;
}
